@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MadeTomy-Regular';
    src: url('font/MADE TOMMY Regular_PERSONAL USE.otf') format("opentype");
}

@font-face {
    font-family: 'MadeTomy-Light';
    src: url('font/MADE TOMMY Light_PERSONAL USE.otf') format("opentype");
}

@font-face {
    font-family: 'MadeTomy-Bold';
    src: url('font/MADE TOMMY Bold_PERSONAL USE.otf') format("opentype");
}

@font-face {
    font-family: 'MadeTomy-ExtraBold';
    src: url('font/MADE TOMMY ExtraBold_PERSONAL USE.otf') format("opentype");
}

@font-face {
    font-family: 'MadeTomy-Medium';
    src: url('font/MADE TOMMY Medium_PERSONAL USE.otf') format("opentype");
}

@font-face {
    font-family: 'MadeTomy-Thin';
    src: url('font/MADE TOMMY Thin_PERSONAL USE.otf') format("opentype");
}

@font-face /*perintah untuk memanggil font eksternal*/
  {
  font-family: 'Azonix';

  /*memberikan nama bebas untuk font*/

  src: url('font/Azonix.otf');

  /*memanggil file font eksternalnya di folder nexa*/
}

.logosko {
  font-family: 'Azonix';
}

.bodycopy {
  font-family: 'MADE TOMMY REG';
}

body {
  background-color: #F8F7F3;
  @apply font-MadeTomy-Light;
}


.navbar-fixed {
  position: fixed;
  z-index: 9999;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.6;
  -webkit-backdrop-filter:  blur(5px);
          backdrop-filter:  blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#logo {
  font-family: Azonix;
}

#nav-menu{
  font-size: 14px;
}

#navbar-nav  a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #3c4043;
  transform: scaleX(0);
  transition: 0.2s linear;
}

#navbar-nav  a:hover::after {
  transform: scaleX(0.5);
}

.dropdown-content {
      right: 0;
      left: auto;
}

#jumbotron {
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-text-opacity: 0.8;
}

/* @media (min-width: 1280px) {
  #jumbotron {
    font-size: 190px;
  }
} */

#jumbotron{
  @apply font-MadeTomy-Thin;
}

#quote{
  font-weight: 400;
  line-height: 21px;
  font-size: 17px;
  color: #3c4043;
  letter-spacing: 0.05em;
}

#shadow {
  margin-left: 300px;
  margin-top: -70px;
  position: absolute;
  width: 600px;
  height: 30px;
  background: #000000;
  opacity: 0.4;
  filter: blur(25px);
  transform: rotate(-2.1deg);
}

.custom-btn {
  width: 210px;
  height: 90px;
  padding: 10px 70px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 3px;
  border: none;
}

.btn-15 {
  background: #FFF3B2;
  opacity: 0.85;
  color: #000;
  z-index: 1;
  border-radius: 10px;
}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.btn-15:hover {
  color: #fffced;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}